h1 {
   font-size: 2em;
   font-weight: bold;
   text-align:center;
   color:  #330000;
}

img {
    height: 25px;
    width:40px;
}

body {
     background-color:#999999;
}

#lyrics {
    width:550px;
    font-size: 1.75em;
    color:#330000;
    margin-left:25%;
    background-color:white;
    padding:10px;
    border-radius:10px;
}

#music_video {
    margin-left:25%;
}